.navbar {
  background-color: #f8f9fa;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  font-size: 20px;
  color: #333;
}

.navbar-nav .nav-item .nav-link {
  padding: 8px 12px;
  color: #333;
}

.navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
